/* default styling  */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}

/* combinators */
header h1 {
  font-weight: 400;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
nav {
  position: relative;
  left: -3rem;
  top: 1rem;
}
/* universal selector */
/* *{
/* border: 2px red solid; */
/* } */

article {
  display: flex;
  margin: 1.5rem;
}

.container {
  margin-right: 2rem;
  text-align: center;
  padding: 1rem;
}
footer {
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 22rem;
}
ul {
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 1.5rem;
}

/* pseudo classes */
a:link,
a:visited {
  color: black;
}
a:hover,
a:active {
  color: red;
}
h2 {
  font-weight: 500;
}

footer {
  height: 4rem;
  font-size: 1.5rem;
}
.showcase__img {
  width: 95vw;
  margin: 1rem;
}
